body{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    background-image: url(images.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    
}

#clockContainer{ 
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    
}